@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;700&family=Montserrat:wght@400;700&display=swap');

.heading-font {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 800;
}

.body-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


h1, h2, h3, h4 ,h5 ,h6 {
  @extend .heading-font;
}

p {
  @extend .body-font;
}